@mixin typo ($color: $text_primary, $fw: 400, $fz: 16px, $lh: 160%) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  color: $color;
}

@mixin field {
  background-color: $background_primary;
  border-radius: 5px;
  border: 1px solid $gray1;
  transition: border-color 0.3s ease-out;
  @include typo($text_primary, 400, 16px, 160%);

  &:disabled {
    background-color: $background_secondary;
    color: $gray3;
    pointer-events: none;
  }

  &:hover,
  &:focus-within {
    border-color: $gray3;
  }
}