// colors
$background_primary: #fff;
$background_secondary: #F3F3F3;

$text_primary: #000000;

$white: #fff;
$black: #000000;
$gray1:#D5D5D5;
$gray2: #E6E6E6;
$gray3: #838383;
$red: #F00000;

// screens
$desktop_1280: 1280px;
$tablet_1024: 1024px;
$mobile_768: 768px;
$mobile_375: 375px;
$mobile_480: 480px;

// layout sizes
$header_height: 80px;

// spaces 
$space_30: 30px;