.item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
  border-bottom: 1px solid $gray2;
  overflow: hidden;

  &:first-child {
    border-top: 1px solid $gray2;
  }

  .avatar {
    flex-shrink: 0;
  }

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;

    .name {
      display: inline-block;
      word-break: break-word;
      max-width: 100%;
    }

    .email {
      color: $gray3;
    }
  }
}