.header {
  background-color: $white;
  padding: 15px 29.5px 15px 20px;
  border-bottom: 1px solid $gray2;
  height: $header_height;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_row {
      display: flex;
      align-items: center;
      gap: 20px;

      .logo {
        flex-shrink: 0;
        cursor: pointer;
      }
    }
  }

  @media screen and (max-width: $mobile_768) {
    width: 100%;
    left: 0;
    top: 0;
    position: sticky;
    z-index: 1000;

    .text {
      display: none;
    }
  }
}