.header {
  background-color: $white;
  padding: 15px 29.5px 15px 20px;
  border-bottom: 1px solid $gray2;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo_row {
      display: flex;
      align-items: center;
      gap: 20px;

      .logo {
        cursor: pointer;
      }

    }
  }
}