.wrapper {
  .label {
    color: $gray3;
    padding-bottom: 5px;
  }

  .helper {
    color: $red;
  }

  .input {
    display: flex;
    align-items: stretch;
    height: 50px;
    @include field;

    .field_cont {
      flex-grow: 1;
      display: flex;
      padding: 12px 20px;

      .field {
        width: 100%;
        display: block;
        @include typo($text_primary, 400, 16px, 160%);

        &::placeholder {
          color: $gray3;
        }
      }
    }

    &.error {
      border-color: $red;
    }

    .prefix {
      background-color: $background_secondary;
      padding: 12px 20px;
      color: $gray3;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-right: 1px solid $gray1;
    }

    .icon {
      display: flex;
      align-items: center;

      &.icon_start {
        margin-right: 11px;
      }

      &.icon_end {
        margin-left: 11px;
        cursor: pointer;
      }
    }
  }
}